@use "/src/shared/styles/colors";

.container {
  display: grid;
  grid-template-columns: min-content minmax(202px, 1fr) 114px 1fr min-content;
  column-gap: 12px;
  row-gap: 1rem;
}

.name {
  grid-column: span 2;
}
.name,
.members,
.lastModified {
  font-size: 12px;
  color: colors.$gray-200;
  margin-bottom: 2px;
}

@media (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr;
  }
  .name,
  .members,
  .lastModified {
    display: none;
  }
}
