@use "/src/shared/styles/colors";

.container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: subgrid;
  grid-column: span 5;
  align-items: center;
  padding: 10px 13px;
  font-size: 12px;
  background-color: #fff;
  border-radius: 10px;
  height: 42px;
}

.type {
  width: 21px;
  height: 21px;
  background-color: colors.$gray-50;
  border-radius: 5px;
}
.design {
  background-color: colors.$orange-300;
}
.gallery {
  background-color: colors.$green;
}
.document {
  background-color: colors.$red-100;
}
.other {
  background-color: colors.$orange-300;
}
.moreIcon {
  color: colors.$gray-50;
  height: 15px;
  margin-top: -1px;
  margin-right: -4px;
}
.name {
  color: colors.$blue-300;
}
.members {
}
.lastModified,
.members {
  color: colors.$gray-200;
}
.lastModified {
}

@media (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr;
    padding: 1rem 13px;
    font-size: 1rem;
    height: auto;
    gap: 0.5rem;
  }
  .name {
    font-size: 1rem;
  }
  .moreIcon,
  .members {
    display: none;
  }
}
