$blue-100: #f5f6fc;
$blue-200: #689ff8;
$blue-300: #343951;

$orange-100: #ffd999;
$orange-200: #ffb233;
$orange-300: #ff9f00;

$gray-300: #464c61;
$gray-200: #858a9d;
$gray-100: #bcbeca;

$green: #4ac29d;
