@use "/src/shared/styles/colors";

.container {
  box-sizing: border-box;
  background-color: colors.$blue-100;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  padding-bottom: 20px;
}

@media (max-width: 1024px) {
}
